#listgroup{
background-color: rgba(32, 178, 171, 0.384);
border-radius: 10%;

}

#recipeTitle{
    color: black;
    float: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: bold;
}

#ingredients{
    color: black;
float: left;
clear: both;
}

#thumbnail{
    width: 200px;
    border-radius: 50%;
    float: left;
}

#recipelink{
    float: left;
    clear: both;
    font-size: 20px ;
    

}

#imageContain{
    background:  linear-gradient( to right, rgba(14, 195, 89, 0.616),rgba(26, 193, 193, 0.466));
    border-radius: 50%;
}

 .this-row{
    background:  linear-gradient( to right, rgba(14, 195, 89, 0.822),rgba(26, 193, 193, 0.719));
    
}

#recipeSearch{
width: 500px;

}

.mainCon1, .mainCon{
    text-align: center;
    margin:0 auto;


}

#recipeRow{
margin:10px
}


.noRec{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.this-row{
    border-radius: 50%;
}

.fa-carrot{
    font-size: 60px;
}

#ingredients{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}