#settings-page{
    min-height: 100vh;
    min-width: 100vw;
    color: rgb(0, 0, 0);
    
}

#settings-page{
    margin: 0;
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "sidebar header header"
    "sidebar sect1  sect2"
    "sidebar main   main";
}

.nav-item:focus{
    outline: 0 none;
    border-color: rgba(255, 255, 255, 0.8);
}



li{
    
    list-style: none;
}
li:hover{
    
    background-color: rgba(172, 172, 172, 0.466);
}
li:focus{
    transition-duration: .1s;
    background-color: white;
    color:black;
    border-right-color: honeydew;
}
li:active{
    background-color: rgb(49, 49, 49);
    box-shadow: inset 1px 1px 1px 1px black;
    border-color: white;
} 





aside{
    grid-area: sidebar;
    background-color: rgba(110, 255, 52, 0.89);
}

#navStart{
    grid-area: header;
    /* position: fixed ; */
}

sectio{
grid-area: sect1;
float: left;

}



.card{
    background-color: rgb(255, 255, 255);

    margin: 0 auto;
    padding: 10px;
    box-shadow:  0px 0px 1px 0px;
}

div{
    margin-left: 10px;
}
