body, html, #root, .App{
    min-height: 100vh;
    color: white;
    background-color: rgb(199, 0, 0);
}

#root{
    margin: 0;
    display: grid;
    grid-template-columns: auto 60% 25%;
    grid-template-rows: 8% 50% auto;
    grid-template-areas: 
    "sidebar header header"
    "sidebar sect1  sect2"
    "sidebar main   main";
}

li{
    list-style: none;
}
li:hover{
    transition-duration:.1s;
    background-color: rgb(172, 172, 172);
}
li:focus{
    transition-duration: .3s;
    background-color: white;
    color:black;
}
li:active{
    background-color: rgb(49, 49, 49);
    box-shadow: inset 1px 1px 1px 1px black;
    border-color: white;
}





aside{
    grid-area: sidebar;
    background-color: #1E1E1E;
}
header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
}