.contain{
    background-color: rgba(30, 30, 30, 0.733);
    min-height: calc(100vh - 153px);
    min-width: calc(100vw - 10px);
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    overflow: hidden;
    color: white;
}


.contain{
    margin: 0;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto 65% 25% 5%;
    grid-template-areas: 
    "buffer buffer   buffer"
    "space paragraph carousel"
    "space paragraph carousel"
    "down  down      down";
}


.Paragraph-opening{
    
    position: relative;
    top: 85px;
    line-height: 75px;
    grid-area: paragraph;

    -webkit-animation: fadein 1.5s ease-in;
    -moz-animation: fadein 1.5s ease-in;
    -o-animation: fadein 1.5s ease-in;
    -ms-animation: fadein 1.5s ease-in;
    animation: fadein 1.5s ease-in;

}


.video{

    grid-area: carousel;
    
    
    -webkit-animation: fadein 0.5s ease-in;
    -moz-animation: fadein 0.5s ease-in;
    -o-animation: fadein 0.5s ease-in;
    -ms-animation: fadein 0.5s ease-in;
    animation: fadein 0.5s ease-in;

}

.cas{
    position: relative;
    bottom: 7px;
    left: 50%;
    grid-area: down;
    align-items: center;


}

.app{
    position: relative;
    bottom:  20px;
    grid-area: carousel;


}









@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
